<h2><%= @camp.title %></h2>
<%= link_to "Редактировать ОР", edit_camp_path, class: "mb-3 btn btn-secondary" %>
<p>Месторасположение: <%= @camp.city.present? ? @camp.city.title : "не указано" %></p>
<h3>Описание объекта:</h3>
<p><%= @camp.description %></p>